<div class='container'>
  <div class='spacer'></div>
  <strong>My rents:</strong>
  <%= render 'rents' %>
  <div class='spacer'></div>
  <strong>My storages:</strong>
  <%= render 'owns' %>
</div>



