<table class="table">
    <thead>
      <tr>
        <th scope="col">item</th>
        <th scope="col">tenant/owner</th>
        <th scope="col">status</th>
        <th scope="col">date</th>
      </tr>
    </thead>
    <tbody>
      <% if @my_storage_bookings.size == 0 %>
      <tr class='table-row'>
        <td>Nothing booked yet</td>
      </tr>
      <% else %>
      <% @my_storage_bookings.each do |booking| %>
        <tr class='table-row'>
          <th scope="row"><%= booking.storage.name %></th>
          <td><%= booking.storage.user == current_user ? 'You' : booking.storage.user.name %></td>
          <td><%= booking.approved ? 'approved' : 'pending' %></td>
          <td><%= booking.storage.user.email %></td>
        </tr>

      <% end %>
      <% end %>
    </tbody>
  </table>