<table class="table">
  <thead>
    <tr>
      <th scope="col">item</th>
      <th scope="col">status</th>
      <th scope="col">date/time</th>
    </tr>
  </thead>
  <tbody>
    <% if @my_storage_bookings.size == 0 %>
      <tr class='table-row'>
        <td>Nothing booked yet</td>
      </tr>
    <% else %>
      <% @my_storage_bookings.each do |booking| %>
        <tr class='table-row booking-row' data-id='<%= booking.id %>'>
          <th scope="row"><%= booking.storage.name %></th>
          <td><%= booking.approved ? 'approved' : 'pending' %></td>
          <td><%= booking.created_at %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
