<div class="banner">
  <div class="container ">
    <h1><strong>Storage Story </strong>store your <strong>past life</strong>! <br>
    <%= link_to 'Book Now', storages_path, class: "btn btn-primary btn-lg" %></h1>
  </div>
</div>
