// card
.card-c{
  width: 95vw;
}
.card {
  align-self: center;
  margin: 20px;
  height: 200px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 1s;
  filter: grayscale(75%);
  &:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    filter: grayscale(0%);
  }
}
// card elements
.card-title-wrapper {
  position: absolute;
  bottom: 10px;
  left: 0px;
  padding: 10px 0 10px 12px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  transition-duration: 1s;
  cursor:pointer;
  &:hover{
    background-color: rgba(255, 255, 255, 1);
  }
}

.card-title-text {
font-size: 20pt;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.card-details-wrapper {
position: absolute;
right: 0px;
height: 35px;
border-radius: 5px 0 0 5px;
background-color: rgba(255, 255, 255, 0.6);
padding: 5px 12px 5px 12px;
transition-duration: 1s;
cursor:pointer;
&:hover {
  background-color: rgba(255, 255, 255, 1);
}
}
.card-price-wrapper {
top: 50px;
}

.card-sqm-wrapper {
top: 10px;
}

.card-details-text {
  font-size: 14pt;
  text-align: center;
}
.card-main {
    margin-left: 56px;
    margin-right: 56px;
    background: #f2f2f2;
    border-radius: 25px;
    padding: 25px;
    font-family:  'helvetica'
}

.card-main h3{
font-family:  'Courgette', cursive;
}

.title{
  font-family:  'Courgette', cursive;
}
