
.home-main{
display: flex;
justify-content: space-around;
}
.home-card{

    width: 100% ;
    float: left ;


    padding-left: 8px ;
    padding-right: 8px ;
    min-height: 1px ;
    position: relative ;
}
.card-main{
    margin-left: 56px ;
    margin-right: 56px ;
}
.card-body{
margin: 0px ;
word-wrap: break-word ;
font-size: 16px ;
font-weight: 400 ;
line-height: 1.75em ;
color: #484848 ;
}

.host h1{
  font-weight: bold;

}

