.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}




#map{
height: 100vh;
// width: 40%;
position: fixed;
top: 0px ;
right: 0px;
z-index: 0;

 }

