.avatar {
  border: 4px solid rgb(214, 214, 214);
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(214, 214, 214, 0.8);
}

.avatar-large {
  height: 10vh;
}

.storage-photo {
  border: 1px solid rgb(214, 214, 214);
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(214, 214, 214, 0.8);
}

.storage-photo-large {
  height: 30vh;
}

.message-show-heading {
  margin: 20px auto;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 90%;
}

.message-show-title {
  margin: 10px 0;
  // text-align: center;
}

.message-show-block {
  margin: 5px 0;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
}

.large {
  font-size: 20pt;
}

.medium {
  font-size: 14pt;
}

.small {
  font-size: 12pt;
}

.bold {
  font-weight: bold;
}

.icon-new-title {
  font-size: 8pt;
  color: green;
}

.icon-title-wrapper {
  display: block;
  width: 10px;
  margin: 5px 10px 0 0;
  padding-bottom: 10px;
}

.title-text {
  display: block;
  width: 80%;
}

.message-show-buttons {
  text-align: center;
  margin: 20px auto;
}

.button {
align-self: center;
margin: 20px 10px;
padding: 10px 20px;
border-radius: 5px;
border: 1px solid grey;
box-shadow: 1px 1px 10px rgba(214, 214, 214, 0.8);
}

.button:hover {
  box-shadow: 1px 1px 10px grey;
}
.button-primary {
  background-color: #5896ED;
  color: white;
}
.button-secondary {
  background-color: #B0FAAE;
}