.avatar {
  border: 4px solid rgb(214, 214, 214);
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(214, 214, 214, 0.8);
}

.avatar-large {
  height: 10vh;
}

.storage-photo {
  border: 1px solid rgb(214, 214, 214);
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(214, 214, 214, 0.8);
}

.storage-photo-large {
  height: 30vh;
}

