<h1>Reviews new</h1>
<%= simple_form_for [@booking, @review] do |f| %>
  <%= f.input :description %>
    <%= f.collection_radio_buttons :stars, [[1,  '1'] ,[2, '2'],[3, '3'],[4, '4'],[5, '5']], :first, :last %>
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>
